body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    text-align: center;
    background-color: hotpink;
}

main{
    margin: auto;
    text-align: center;
    border: 1px solid lightgray;
}